:root{
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);

    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}
*{
    box-sizing:border-box
}
::-webkit-Scrollbar{
	width:5px;
}
::-webkit-Scrollbar-thumb{
	background:var(--Pink);
}
@supports (Scrollbar-color: red blue){
	*{
		Scrollbar-color:var(--Pink) #fff;
		Scrollbar-width:thin;
	}
}
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}
.container{
    width:min(90vw,1440px);
    margin:auto;
}
.head{
    display: flex;
    align-items: center;
    margin-top:2rem;
}
.head .logo img{
    width:200px;
    margin-top: 5px;
}

.head .try-it{
    margin-left:auto;
    cursor: pointer;
    border:2px solid var(--Pink);
    color:var(--Pink);
    background-color: #fff;
    padding:.5em;
    border-radius: 30px;
    width:8rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    box-shadow: 3px 3px 20px -10px var(--Pink);
    transition: background-color 300ms ease-in-out;
}
.head .try-it:hover,
.head .try-it:hover:focus{
    background-color: var(--Pink);
    color:#fff;
}
.main-content{
    text-align: center;
    margin-top: 12rem;
}
.main-content h2{
    font-size: clamp(1.8rem,7vw,2.9rem);
    color:var(--Very-Dark-Cyan);
}
.main-content p{
    font-size: 1rem;
    color:var(--Very-Dark-Cyan);
    margin-bottom: 2.5rem;
    width:min(80vw,500px);
    margin-inline:auto;
    font-weight: 600;
}
.get-started{
    padding: 1.8em;
    border-radius: 2rem;
    border:none;
    background-color: var(--Pink);
    color:#fff;
    font-weight: 700;
    width:min(50vw,400px);
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
    margin-bottom: 5rem;
    box-shadow: 3px 3px 20px -10px var(--Pink);
}
.get-started:hover{
    background-color: var(--Light-Pink);
}
.mockups{
    display: block;
    width: 100%;
    width:min(80vw,900px);
    margin-inline:auto;
    margin-bottom: 6rem;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width:min(90vw,1000px);
    
    margin-inline:auto;
    margin-bottom: 4rem;
}
.stats img{
    width:30px;
    float: left;
}
.stats h3{
    font-size: clamp(1.8rem,10vw,5rem);
    margin-bottom: 0;
}
.stats p{
    color:gray;
}
.stats:first-of-type{
    margin-bottom: 2rem;
}
section{
    max-width:1440px;
    margin-inline: auto;
    text-align: center;
}
section h2{
    font-size: clamp(1.5rem,5vw,2.3rem);
    margin-top:2rem;
}
section img{
    display: block;
    width: 100%;
}
.flexable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexable > *{
    flex:1;
}
.grow{
    margin-top:0;
    padding-bottom: 4rem;
}
.curve img{
    display: block;
    width: 100%;
}
.content{
    background-color: var(--Very-Pale-Blue);
    padding-bottom: 4rem;
}
.content p{
    margin-bottom: 0;
}
.flowing{
    margin-bottom: 4rem;
}
.ready{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 8em;
}
.ready h2{
    font-size: clamp(1.8rem,8vw,3rem);
}
footer{
    color:#fff;
}
.foot-flex{
    display: flex; 
    flex-direction: column;   
}
.foot-content{
    background-color: var(--Very-Dark-Cyan);
}
.foot-content h2{
    margin:0;
    padding-top: 2rem;
}
footer form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top:2rem;
    margin-bottom: 2rem;
}
form input[type="email"]{
    padding:1em;
    margin-bottom: 2rem;
    width:min(100%,400px);
}
form input[type="submit"]{
    padding:1em;
    margin-bottom: 2rem;
    width:min(50%,400px);
    background-color: var(--Pink);
    border-radius: 10px;
    border:none;
    color:#fff;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: var(--Light-Pink);
}
.contact-info{
    padding-bottom: 4rem;
}
.number , .email{
    display: flex;
    align-items: center;
}
.number p, .email p{
    margin-left: 1rem;
}
.social{
    margin-top: 3rem;
}
.social i{
    margin-right:1rem;
    font-size: 2rem;
}
.foot-flex > *{
    flex: 1;
}
.foot-flex, .content{
    padding-inline:2rem;
}
form input[type="email"]{
    border-radius: 10px;
    border: none;
}
@media (min-width:770px){
    .hidden-xs{
        display: block;
    }
    .visible-xs{
        display: none;
    }
    .flex{
        flex-direction:row;
        justify-content: flex-start;
    }
    .stats:first-of-type{
        margin-bottom: 0rem;
        margin-left:8rem;
    }
    .stats:last-of-type{
        margin-bottom: 0rem;
        margin-left:auto;
        margin-right: 8rem;
    } 
    .flexable{
        display: flex;
        flex-direction: row;
    }
    section{
        text-align: left;
    }
    .text{
        margin-left: 4rem;
    }
    .grow .flexable,
    .users .flexable{
        flex-direction: row-reverse;
    }
    .grow .flexable .text,
    .users .flexable .text{
        flex-direction: row-reverse;
        margin-left: 0rem;
        margin-right: 4rem;
    }
    .foot-flex{
        flex-direction: row-reverse;   
    }
    footer form{
        flex-direction: row;
        align-items: flex-end;
        margin-top:4rem;
    }
    form input[type="submit"]{
        margin-left: 2rem;
        width:min(40%,400px);
    }
    footer p{
        width:min(100%,41ch);
    }
    section p{
        width:min(100%,57ch);
    }
    .contact-info{
        padding-bottom: 8rem;
    }
}
@media(max-width:771px){
    .visible-xs{
        display: block;
    }
    .hidden-xs{
        display: none;
    }
}
section h2,section .flowing p{
    color:var(--Very-Dark-Cyan);
}